@charset "UTF-8";
body, html {
	background-color: rgba(255, 255, 255, 1);
	/*background: url("../img/background14.jpg") no-repeat scroll 0 0 / cover transparent;*/
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
    font-family: 'Merriweather', serif;
    height: 100%;
	min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
	text-rendering: optimizeLegibility;
    background-position: center center;
}
a img, a, img { border: none; outline: none; text-decoration: none;}
#toTop {
    display: none;
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 64px;
    height: 64px;
    background-image: url('../img/up.png');
    background-repeat: no-repeat;
    background-size: 64px 64px;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    transition: opacity 0.2s ease-in-out;
    z-index:999;
}
#toTop:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
input { -webkit-appearance: none; border-radius: 0; }
input:focus { outline: none;}
.mobileSpace { visibility:hidden; }
strong {font-weight: 600; }
.shade {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYTc1YjY5IiBzdG9wLW9wYWNpdHk9IjAuNzUiLz4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjMTMwYTBjIiBzdG9wLW9wYWNpdHk9IjAuNDEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNDIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY3YTZiYyIgc3RvcC1vcGFjaXR5PSIwLjUzIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  rgba(167,91,105,0.75) 0%, rgba(19,10,12,0.41) 40%, rgba(0,0,0,0.42) 45%, rgba(103,166,188,0.53) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(167,91,105,0.75)), color-stop(40%,rgba(19,10,12,0.41)), color-stop(45%,rgba(0,0,0,0.42)), color-stop(100%,rgba(103,166,188,0.53))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(167,91,105,0.75) 0%,rgba(19,10,12,0.41) 40%,rgba(0,0,0,0.42) 45%,rgba(103,166,188,0.53) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(167,91,105,0.75) 0%,rgba(19,10,12,0.41) 40%,rgba(0,0,0,0.42) 45%,rgba(103,166,188,0.53) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(167,91,105,0.75) 0%,rgba(19,10,12,0.41) 40%,rgba(0,0,0,0.42) 45%,rgba(103,166,188,0.53) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(167,91,105,0.75) 0%,rgba(19,10,12,0.41) 40%,rgba(0,0,0,0.42) 45%,rgba(103,166,188,0.53) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfa75b69', endColorstr='#8767a6bc',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	width: 100%;
	height: 100%;
	background-size: cover;
}
.shade2 {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	background-size: cover;
}
p {
	color: rgba(48, 48, 48, 1);
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.6em;
}
p.centered { text-align: center; }
p.caption {
	color: rgba(139,148,157,1);
	font-family: 'Merriweather', serif;	
	font-weight: 300;
	font-size: 13px;
	line-height: 1.3em;
}
p a, ul li a, ol li a {color: #ff6d6d ; text-decoration: none; border-bottom: 1px solid transparent; transition: all 0.2s ease-in-out; font-weight: 400;}
p a:hover, ul li a:hover, ol li a:hover {color: #ff6d6d ; text-decoration: none; border-bottom: 1px solid #ff6d6d; padding-bottom: 3px;}
ul, ol {
    margin: 20px 0;
    padding: 0;
}
ol li {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 1.7em;
    list-style: decimal outside none;
    margin-left: 20px;
	color: rgba(92, 92, 92, 1);
}
ul li {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 1.7em;
    list-style: square outside none;
    margin-left: 20px;
	color: rgba(92, 92, 92, 1);
}
ul li a, ol li a {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    transition: all 0.3s ease-in 0s;
}
li.checkmark { list-style: none outside none; }
li.checkmark:before { content: '✔'; margin-left: -19px; margin-right: 6px; font-size: 20px;}
blockquote:before {
    color: #FF6D6D;
    content: "\201C";
    display: inline-block;
    font-family: georgia;
    font-size: 74px;
    margin-right: 20px;
    position: relative;
    vertical-align: top;
    width: 6%;
}
blockquote {
    border: 0 none;
    display: block;
    margin: 2.5em 0 2em 0em;
    padding: 0 0 0 1.6em;
	text-align:left;
}
blockquote p {
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0;
    width: 90%;
}
.testimonials blockquote:before {
    display: none;
}
.testimonials blockquote {
    border: 0 none;
    display: block;
    margin: 0;
    padding: 0 0 20px 0;
	text-align:inherit;
}
.testimonials blockquote p {
    width: 100%;
	text-align:center;
	padding-bottom: 30px;
}
.testimonials blockquote cite {
	color: #5F7589;
    font-family: 'Merriweather', serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
	opacity:0.5;
	-webkit-backface-visibility:hidden;
}
#background {
	background-image: url(../img/3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
}
.bottom-logo {
	width: 300px; 
	margin: 0 auto; 
	text-align: center; 
	padding: 50px 0px 30px 0px;
	clear: both;
	}
#godown {
	bottom: 0;
    height: 80px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 100%;
	text-align:center;
}
#godown p {
	color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4em;
	padding:0 0 10px;
	margin: 0px;
	letter-spacing: .5px;
}
.huge-title {
    bottom: 0;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    top: 35%;
    top: 15%\9;
    width: 40%;
	text-align:center;
	font-family: 'Merriweather', serif;
}
.huge-title p {
	color: #ffffff;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.4em;
}
#background h1, #background h2, #background h3, #background h4 {
    color: #FFFFFF;
}
h1 {
    color: #FFFFFF;
    letter-spacing: 0;
	font-family: 'Merriweather', serif;
	font-size: 90px;
	line-height: 1em;
	font-weight: 200;
	padding: 0 0 30px 0;
	margin: 0;
}
h2 {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0;
	font-family: 'Merriweather', serif;
	font-size: 42px;
	line-height: 1.2em;
	font-weight: 300;
	padding: 0 0 20px 0;
	margin: 0;
	text-align:center;
}
h3 {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0;
	font-family: 'Merriweather', serif;
	font-size: 32px;
	line-height: 1.2em;
	font-weight: 300;
	padding: 0 0 50px 0;
	margin: 0;
	text-align:center;
}
h4 {
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0;
	font-family: 'Merriweather', serif;
	font-size: 23px;
	line-height: 1.2em;
	font-weight: 300;
	padding: 0 0 20px 0;
	margin: 0;
	text-align:center;
}
h5 {
    color: rgba(255, 109, 109, 1);
    letter-spacing: 0;
	font-family: 'Merriweather', serif;
	font-size: 20px;
	line-height: 1.2em;
	font-weight: 300;
	padding: 0 0 10px 0;
	margin: 0;
	text-align:left;
}
.container {
    background: none repeat scroll 0 0 transparent;
    position: absolute;
    z-index: 100;
	font-family: 'Merriweather', serif;
	width: 100%;
}
.whitecontainer {
    background: none repeat scroll 0 0 #ffffff;
	width: 100%;
	padding: 80px 0;
	overflow: auto;
}
.greycontainer {
    background: none repeat scroll 0 0 #F9F9F9;
	width: 100%;
	padding: 80px 0;
	overflow: auto;
}
.wrapper {
    background: none repeat scroll 0 0 transparent;
	width: 100%;
	position: absolute;
}
.hero {
	margin: 0 auto;
    position: relative;
	width: 430px;
	z-index: 80;
	text-align:center;
    padding-bottom: 30px;
}
.hero h2 {margin-top: 20px; }
.bigspace { height: 4em; }
.content {
	margin: 0 auto;
	position:relative;
	z-index: 80;
	width: 800px;
	text-align:center;
}
.header-container {
	padding: 0 5%;
	margin: 0 auto;
}
.header {
	width: 100%;
	position: relative;
	top:0;
	z-index:9999;
	background-color: rgba(255, 255, 255, 0);
	padding: 25px 0px;
	font-family: 'Merriweather', serif;
    min-height: 40px;
    background-color:#313131\9;
}
.logo {
	width: 30%;
	float: left;
}
.menu {
	width: 60%;
	float: right;
	text-align: right;
	margin-top: 5px;
}
.menu ul { margin: 0; padding: 0; }
.menu ul li { 
	display: inline;
	margin: 0;
	padding: 0;
	margin-left: 20px;
	font-family: 'Merriweather', serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #fbfbfb;
	}
.menu ul li a { color: #fbfbfb; text-decoration: none; padding-top: 28px; font-weight: 600; letter-spacing: 1px; transition: all 0.2s ease-in-out; font-size: 14px;}
.menu ul li a:hover { color: #fbfbfb; text-decoration: none; border-top: 5px solid #fbfbfb; border-bottom: 0px solid transparent;}
.menu ul li a.cta { color: #ffffff; text-decoration: none; padding: 10px 20px; font-weight: 600; background-color: #FF6D6D ; transition: all 0.2s ease-in-out; border-bottom: 0px solid transparent;}
.menu ul li a:hover.cta { color: #ffffff; padding: 10px 20px; background-color: rgba(0, 0, 0, 1); text-decoration: none; border-top: 0px solid #fbfbfb; border-bottom: 0px solid transparent;}
.button-box {
	margin: 0 auto; 
	display: block; 
}
.button-white {
   border: 2px solid rgba(255,255,255,1);
   padding: 15px 40px 18px 40px;
   display: inline-block;
   font-family: 'Merriweather', serif;
   font-size: 18px;
   text-align: center;;
   transition: all 0.3s ease-in-out;
   color: rgba(255,255,255,1);
   text-decoration: none;
   margin: 20px 0 auto;
   font-weight: 600;
   text-transform: uppercase;
   background-color: rgba(255,255,255,0);
   letter-spacing: 2px;
    line-height: 0em;
}
.button-white:hover { 
	background-color: rgba(255, 255, 255, 1); 
	color: rgba(0, 0, 0, 1); 
	text-decoration: none; 
	border: 2px solid transparent;
	padding: 15px 40px 18px 40px;
}
.button {
   border: 2px solid rgba(92, 92, 92, 1);
   padding: 15px 40px;
   display: inline-block;
   font-family: 'Merriweather', serif;
   font-size: 16px;
   text-align: center;;
   transition: all 0.3s ease-in-out;
   color: rgba(92,92,92,1);
   text-decoration: none;
   margin: 20px 0 auto;
   font-weight: 600;
   text-transform: uppercase;
   background-color: rgba(255,255,255,0);
   letter-spacing: 2px;
}
.button:hover { 
	background-color: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 1); 
	text-decoration: none; 
	border: 2px solid transparent;
	padding: 15px 40px;
}
.button-reverse, #mc_embed_signup input[type="submit"] {
   padding: 15px 40px;
   display: inline-block;
   font-family: 'Merriweather', serif;
   font-size: 16px;
   text-align: center;;
   transition: all 0.3s ease-in-out;
   text-decoration: none;
   margin: 20px 0 auto;
   font-weight: 600;
   text-transform: uppercase;
   background-color: rgba(0, 0, 0, 1);
   color: rgba(255, 255, 255, 1); 
   border: 2px solid rgba(0, 0, 0, 1);
   letter-spacing: 2px;
}
.button-reverse:hover, #mc_embed_signup input[type="submit"]:hover {   
	text-decoration: none; 
	background-color: rgba(255,255,255,0);
	color: rgba(92,92,92,1);
	border: 2px solid rgba(92,92,92,1);
	padding: 15px 40px;
}
#phone {visibility: hidden; }
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
	overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	margin: auto;
	right: 0;
}
.half_column1 {
    float: left;
    margin-top: 5%;
    text-align: left;
    width: 48%;
}
.half_column2 {
    float: right;
    margin-top: 5%;
    text-align: left;
    width: 48%;
}
.half_column1 h2, .half_column2 h2, .half_column1 h3,  .half_column2 h3, .half_column1 h4,  .half_column2 h4 { text-align: left; }
.one_third {
    float: left;
    margin-top: 5%;
    text-align: center;
    width: 31%;
    margin-right: 3.5%;
}
.one_third_last {
    float: right;
    margin-top: 5%;
    text-align: center;
    width: 31%;
}
 .one_third_last img, .one_third img, .half_column1 img, .half_column2 img, .hero img { width: 100%; height: auto; }  
 .one_third_last img, .one_third img { border-radius: 5px; }
.one_third_last h2, .one_third h2 { font-size: 32px; padding: 0 0 10px 0; }
/*
==============================================
Headroom Styling for top menu
==============================================
*/
.headroom {
	position: fixed;
	top: 0px\9;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(00px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
	left: 0;
	right: 0;
	transition: all 1.0s ease-in-out;
    -webkit-transform: translateY(0px);
    z-index:999;
	}
.headroom--unpinned {
    -webkit-transform: translateY(-100px); 
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
    top: -100px\9;
}
.headroom--pinned {
    top: 0;
    top: -100px\9;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(00px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.ie9 .headroom{
	top: 0px;

}
.ie9 .headroom-unpinned{
	top: -100px;
}

/*
==============================================
floating Animation
==============================================
*/
.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
/*
==============================================
hatch
==============================================
*/

.hatch{
	animation-name: hatch;
	-webkit-animation-name: hatch;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 

	visibility: visible !important;		
}

@keyframes hatch {
	0% {
		transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		transform: rotate(2deg) scaleY(1);
	}
	50% {
		transform: rotate(-2deg);
	}	
	65% {
		transform: rotate(1deg);
	}	
	80% {
		transform: rotate(-1deg);
	}		
	100% {
		transform: rotate(0deg);
	}									
}

@-webkit-keyframes hatch {
	0% {
		-webkit-transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		-webkit-transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		-webkit-transform: rotate(2deg) scaleY(1);
	}
	50% {
		-webkit-transform: rotate(-2deg);
	}	
	65% {
		-webkit-transform: rotate(1deg);
	}	
	80% {
		-webkit-transform: rotate(-1deg);
	}		
	100% {
		-webkit-transform: rotate(0deg);
	}		
}
/*
==============================================
slideUp
==============================================
*/


.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

#mc_embed_signup{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    display: block;
    font-family: 'Merriweather', serif;
    height: 70px;
    margin: 40px 0;
    width: 100%;
	text-align: center;
	}
#mc_embed_signup input[type="submit"] {cursor:pointer; float: left; margin: 0 0 0 3%; width: 33%;}
#mc_embed_signup input.email {
	color: rgba(92,92,92,1);
	background-color: #FFFFFF;
    border: medium none;
    display: inline;
    float: left;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    padding: 15px;
    width: 59%;
	border: 2px solid rgba(0, 0, 0, 1);
    -webkit-appearance: none;
    margin: 0;
}
[class^="icon-"]:hover:before, [class*=" icon-"]:hover:before { color: rgba(92, 92, 92, 0.8); }
span.expand {
	left: auto;
    margin: 37px 0 0 320px;
    right: 0;
    top: 0;
    z-index: 999;
    position:absolute;
}

/*
==============================================
Icon styling for white buttons
==============================================
*/
.button-white [class^="icon-"]:before, .button-white [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size: 28px;
    color: rgba(255,255,255,1);
    transition: all 0.2s ease-in-out;
    display: inline;
    text-decoration: inherit;
    margin-right: .5em;
    text-align: center;
    /* opacity: 1.0; */
}
.button-white:hover [class^="icon-"]:before, .button-white:hover [class*=" icon-"]:before {
    color: rgba(0, 0, 0, 1); 
}
.icon_left img { width: 60% !important; height: auto !important;}
.icon_left {width: 22%; height: auto; overflow: auto; float: left; text-align: left; margin-top: 10px; }
.text_right { float: left; text-align: left; margin-left:0; width: 75%; overflow: auto; }
.text_right p { margin-top: 0px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
    height: 20px;
}
/*
==============================================
Responsive Syling
==============================================
*/

@media all and (max-width: 1024px)  {
    .hero { display: none; }
    .mobileSpace { visibility:visible; clear: both; height: 60px; }
    .content { width: 80%; }
    h1 {font-size: 65px; }
    .huge-title { top: 25%; }
}

@media all and (max-width: 768px)  {
    .huge-title { width: 80%; top: 25%;}
    blockquote:before { display:none; }
    blockquote { padding: 0; }
    blockquote p {width: 100%; text-align: center; }
    .price-tier .tier.free, .price-tier .tier.pro, .price-tier .tier.plus { width: 60%; margin: 0 auto 30px; min-height: 0; top: 0; }
    .price-tier .tier {float: none; }
    .price-tier .tier.free h5, .price-tier .tier.pro h5, .price-tier .tier.plus h5 { font-size: 49px; }
    #mc_embed_signup input.email { width: 93%; }
    .clear { margin-top: 20px; }
    #mc_embed_signup { height: auto; }
    #mc_embed_signup input[type="submit"] {margin: 3% 0 0 3%; float: none; width: auto; }
}

@media all and (max-width: 640px) {
    .half_column1 {
        float: left;
        margin-top: 5%;
        text-align: center;
        width: 100%;
    }
    .half_column2 {
        float: right;
        margin-top: 5%;
        text-align: center;
        width: 100%;
    }
    .one_third {
        float: left;
        margin-top: 5%;
        text-align: center;
        width: 100%;
        margin-right: 0%;
    }
    .one_third_last {
        float: right;
        margin-top: 5%;
        text-align: center;
        width: 100%;
    }
    .half_column1 h2, .half_column2 h2, .half_column1 h3,  .half_column2 h3, .half_column1 h4,  .half_column2 h4 { text-align: center; }
    .header-container { width: 600px; }
    #godown { display: none; }
    .hero { width: auto; }
}

@media all and (max-width: 568px) {
    h1 {font-size: 40px; padding-bottom: 10px;}
    h4 {font-size: 18px; padding-bottom: 10px; }
    .header-container { width: 330px; padding: 0;}
    .content { width: 80%; }
    .huge-title { width: 80%; top: 30%;}
    .price-tier .tier.free, .price-tier .tier.pro, .price-tier .tier.plus { width: 100%; }
    #mc_embed_signup input.email { width: 88%; }
    .button-white [class^="icon-"]:before, .button-white [class*=" icon-"]:before { font-size: 18px; }
    .button-white, .button-white:hover { font-size: 16px; padding: 15px 20px 18px; }
    .owl-carousel .owl-item { width: 90%; }
    .owl-carousel .owl-item img { width: 100%; height: auto; }
    .menu { display: none; }
    .logo {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
}
}